@font-face {
  font-family: "Bebas Neue";
 	src: url('../fonts/BebasNeue Regular.eot');
	src: url('../fonts/BebasNeue Regular.woff') format('woff'), url('../fonts/BebasNeue Regular.ttf') format('truetype'), url('../fonts/BebasNeue Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "BebasNeueBold";
	src: url(../fonts/BebasNeue Bold.ttf) format("truetype");
}
@font-face {
	font-family: "Segoe UI";
	src: url(../fonts/segoeui.ttf) format("truetype");
}
@font-face {
	font-family: "rouble";
	src: url(../fonts/rouble.ttf) format("truetype");
}
::-webkit-scrollbar { width: 6px; height: 3px;}
::-webkit-scrollbar-button {  background-color: transparent; height: 0;}
::-webkit-scrollbar-track {  background-color: transparent;}
::-webkit-scrollbar-track-piece { background-color: transparent;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #666; border-radius: 3px;}
::-webkit-scrollbar-thumb:hover {background-color: #999;}
::-webkit-scrollbar-corner { background-color: #999;}}
::-webkit-resizer { background-color: #666;}
body {
	font-family: "Bebas Neue", Helvetica, Arial, sans-serif;
}
body, .center {
	margin: 0 auto;
}
a {
	color: inherit;
}
a:hover {
	color: inherit;
    text-decoration: none;
}
a.bg-light.product-wrapper:hover {
	background-color: #f8f9fa!important;
}
ul{
	list-style: none;
}
ul li::before {
	position: relative;
	top: 6px;
	width: 25px;
	margin-left: -29px;
	font-size: 43px;
	line-height: 0;
	content: "\2022";
	color: #eb5c3e;
	font-weight: bold;
	display: inline-block;
}
.rouble {
  font-family: 'rouble';
}
.color-unique {
	color: #eb5c3e;
}
.bg-black {
	background-color: #111;
}
.color-secondary{
	color: #636363;
}
.bt {
	border-top: 1px solid #e5e5e5;
}
.global-container {
	max-width: 1440px;
}
.header .navbar {
	min-height: 48px;
	border-bottom: 1px solid #e5e5e5;
	box-shadow: 0 0px 15px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.logo {
	height: 56px;
}
.info-wrap {
	padding-left: 8px;
	padding-right: 8px;
	max-height: 1300px;
}
.info-block {
	cursor: pointer;
	border: 1px solid transparent;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-clip: content-box;
	min-height: 150px;
}
.info-block h2 {
	color: #fff;
}
.get-fit {
	order: 1;
	background-position: top;
	background-image: url(../img/get_fit.webp);
}
.food {
	order: 3;
	background-image: url(../img/food.webp);
}
.trainer {
	order: 2;
	background-image: url(../img/trainer.webp);
}
.muscles {
	order: 4;
	background-image: url(../img/muscles.webp);
}
/* products */
.products-wrap {
	position: relative;
	z-index: 1;
}
.product-wrapper {
	max-height: 310px;
	width: 50%;
}
.product {
	padding: 0;
	border: 1px solid transparent;
	background-clip: content-box;
}
.product:hover {
	cursor: pointer;
	padding-bottom: 0;
}
.product:hover .product-info-wrap {
	display: block;
	height: auto;
	transform: scale(1);
	padding-bottom: 9px;
}
.product:hover .product-head {
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-top: 1px solid #000;
}
.product:hover .product-details-wrap{
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}
.product-head {
	height: 250px;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-top: 1px solid transparent;
}
.product-photo {
	height: 200px;
}
.product-photo img {
	max-width: 100%;
}
.product-text {
	margin-top: 10px;
	font-size: 13px;
	color: #3a3a3a;
}
.product-details-wrap {
	height: 59px;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}
.product-price {
	line-height: 26px;
}
.button {
	padding: 8px 6px;
	background-color: #3a3a3a;
	color: #ffffff;
}
.button:hover {
	background-color: #eb5c3e;
}
.product-info-wrap {
	border: 1px solid #000;
	background-color: #fff;
	font-size: 11px;
	line-height: 14px;
	height: 0;
}
@media only screen and (max-width: 320px) {
	.product-info-wrap {
		height: auto;
	}
}
@media only screen and (max-width: 475px) {
	.wrapper {
		max-width: 100%;
	}
}
@media only screen and (min-width: 768px) {
	.product-wrapper {
		width: 33.333%;
	}
	.product-info-wrap {
		display: none;
	}
}
@media only screen and (max-width: 767px) {
	.products-wrap {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.product {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	.product .product-head {
		border-left: 1px solid #000;
		border-right: 1px solid #000;
		border-top: 1px solid #000;
	}
	.product .product-details-wrap {
		border-left: 1px solid #000;
		border-right: 1px solid #000;
	}
	.product-wrapper {
		max-height: 100%;
	}
	.product-info-wrap {
		height: auto;
		display: block;
		flex: 1 0 auto;
	}
}
@media (max-width: 575px) {
	.product-wrapper {
		width: 100%;
		max-height: 100%;
	}
}
/* */
.trainer-online {
	background-image: url(../img/trainer_online.webp);
	height: 690px;
	background-size: cover;
}
.carousel-inner, .reviews {
	height: 500px;
}
.carousel-inner img{
	width: 100%;
}
.resident {
	font-family: "Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
.resident-logo img{
	width: 64px;
	height: 64px;
}
.send {
	background-image: url(../img/envelope.webp);
	height: 250px;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #eb5c3e;
	background-clip: border-box;
	background-origin: content-box;
}
.send a {
	text-decoration: underline;
}
@media (min-width: 768px) {
	.info-block {
		min-height: 700px;
	}
	.food, .trainer {
		min-height: 400px;
	}
	/*
	.losing-weight-express img{
		margin-top: -30px;
	}
	.mass-gain-express img {
		margin-top: -45px;
	}
	.diet-express img {
		margin-top: -30px;
	}
	.diet-train img {
		margin-top: -6px;
	}
	.premium img {
		margin-top: -6px;
	} */
}
@media only screen and (max-width: 767px) {
	.info-wrap, .carousel, .reviews {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.default-container {
		padding-left: 0.5rem !important;
		padding-right: 0.5rem !important;
	}
	.resident-logo img{
		width: 32px;
		height: 32px;
	}
}
@media (max-width: 575px) {
	.send {
		height: 100px;
	}
	.carousel-inner {
		height: 250px;
	}
	.reviews {
		height: auto;
	}
}
@media (max-width: 320px) {
	.product .product-head {
		border-left: 1px solid #000;
		border-right: 1px solid #000;
		border-top: 1px solid #000;
	}
	.product .product-details-wrap {
		border-left: 1px solid #000;
		border-right: 1px solid #000;
	}
}